<h1>Complex Table</h1>
<table>
  <colgroup>
    <col>
    <col>
    <col>
    <col>
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>username</th>
      <th>email</th>
      <th>city</th>
      <th>phone</th>
      <th>website</th>
      <th>company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="hideUsersBefore" [style.height.px]="hideUsersBefore * 32"><td [attr.colspan]="8"></td></tr>
    <tr *ngFor="let user of displayUsers; index as i; odd as isOdd">
      <td>{{ user.index }}</td>
      <td>
        <app-table-cell [value]="user.name"
                        [isOdd]="isOdd">
        </app-table-cell>
      </td>
      <td>
        <app-table-cell [value]="user.username"
                        [isOdd]="isOdd">
        </app-table-cell>
      </td>
      <td>
        <app-table-cell [value]="user.email"
                        [isOdd]="isOdd">
        </app-table-cell>
      </td>
      <td>
        <app-table-cell [value]="user.address.city"
                        [isOdd]="isOdd">
        </app-table-cell>
      </td>
      <td>
        <app-table-cell [value]="user.phone"
                        [isOdd]="isOdd">
        </app-table-cell>
      </td>
      <td>
        <app-table-cell [value]="user.website"
                        [isOdd]="isOdd">
        </app-table-cell>
      </td>
      <td>
        <app-table-cell [value]="user.company.name"
                        [isOdd]="isOdd">
        </app-table-cell>
      </td>
    </tr>
    <tr *ngIf="hideUsersAfter" [style.height.px]="hideUsersAfter * 32"><td [attr.colspan]="8"></td></tr>
  </tbody>
</table>
